
<h1>Simple Angular Firebase Demo</h1>
<div>
  <a routerLink="/simple-value" routerLinkActive="menu-active">Simple Value</a>
  <a routerLink="/simple-list" routerLinkActive="menu-active">Simple List</a>
  <a routerLink="/simple-form" routerLinkActive="menu-active">Simple Form</a>
  <a routerLink="/list-push" routerLinkActive="menu-active">List Push</a>
  <a routerLink="/atomic-save" routerLinkActive="menu-active">Atomic Save</a>
  
</div>
<hr />
<div style="padding: 20px;">
<router-outlet></router-outlet>
</div>